*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito" ,sans-serif;
}

/** Header section **/

header img {
    height: 60px;
    width: auto;
    padding: 10px 20px ;
}
header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid #CCCCCC;

}

main{
    /* height: calc(100vh - 40px); */
    background-color: #501f91;
}

.content-wrapper{
    display: flex;
    /* height: 100%; */
    background-color: black;
}


/* left bar */
aside{
    width: 300px;
    /* height: ; */
    background: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}





.list-wrapper{
    width: 276px;
    height: 56px;
    display: flex;
    align-items: center;
    background: #1EB4F0;
    margin-top: 20px;
    border-radius: 27px 0px 0px 27px;
    gap:10px


}

.list-icon{
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    margin-left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-icon img{
    height: 20px;
    width: auto;
}
.list-name{
    color: white;

}

/** create employee section **/

.create-employee {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    flex-direction: column;
    background-color: #F3F6FA;
    height: calc(100vh - 80px); 
    padding: 16px 20px;
   
}

.create-employee div {
    background: white;
    height: 60x;
    border-radius: 8px;
}


.create-employee-heading {
    display: flex;
    height: 70px;
    padding: 10px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Nunito;
    font-size: 20px;
}

.fields{
    padding: 20px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 20px;
    gap: 30px;
}



.input-values input {
    height: 35px;
    width: 400px;
    border: 1px solid #C6CDD9;
    background: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.input-values select{
    height: 35px;
    width: 400px;
    border: 1px solid #C6CDD9;
    background: #FAFAFA;
    padding-left: 10px;
    border-radius: 2px;
    color:#8991A1;
}

.input-values {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.address-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
    
}
.address input{
    height: 35px;
    border: 1px solid #C6CDD9;
    background: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.address-name {
    grid-column: span 2;
   
}

.upload-proof input::placeholder{
    text-align: right;
}

/** button section **/

.button-wrapper {
    display: flex;
    gap: 20px;
    padding-left: 20px;

}

.button-wrapper button{
    height: 45px;
    width: 166px;
    border-radius: 8px;
}
.button-submit{
    background: #03AEEE;
    border: none;
    color: white;
}
.button-cancel{
    color: #63667A;
    border: 1px solid #63667A;
}
